@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.global-div {
  height: 100vh;
  position: relative;
  z-index: 0;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
