.allTraining-container .list {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.allTraining-container .list .list-item {
  list-style-type: none;
  border-radius: 14px;
  box-shadow: 0 0 20px rgb(128 128 128);
  overflow: hidden;
}
