.allTraining-container {
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
}

.allTraining-container .list {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.allTraining-container .list .list-item {
  list-style-type: none;
  border-radius: 14px;
  box-shadow: 0 0 20px rgb(128 128 128);
  overflow: hidden;
}

.allTraining-container .no-training {
  margin: 30px;
  font-style: italic;
}

.allTraining-container .list-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
}
