.header {
  display: flex;
  margin: 0 auto;
  padding: 26px;
  font-size: 18px;
  font-weight: 600;
}

.header .nav {
  display: flex;
  margin: 0 auto;
}

.header .list {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.header .list-item {
  list-style-type: none;
}

.header .list-item a {
  text-decoration: none;
  color: inherit;
}

.active-link {
  color: rgb(20, 163, 220) !important;
}
