@font-face {
  font-family: "Caveat";
  src: url("../../fonts/Caveat-VariableFont_wght.ttf");
}

.vocabulary-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px;
  font-size: 18px;
  min-height: calc(100vh - 150px);
}

.vocabulary-container .task-salution-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.vocabulary-container .task-container {
  /* min-height: 120px; */
  width: 100%;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 0 20px rgb(66, 64, 64);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  position: relative;
}

.vocabulary-container .solution-container {
  /* min-height: 120px; */
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 20px rgb(66, 64, 64);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  position: relative;
}

.vocabulary-container p {
  text-align: center;
}

.vocabulary-container .btn-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  position: relative;
}

.vocabulary-container .primaryButton {
  padding: 10px 25px;
}

.vocabulary-container .click-to-translate {
  color: rgb(20, 163, 220);
  font-family: Caveat, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.vocabulary-container .language-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -15px;
  width: 30px;
  height: 30px;
}

.vocabulary-container .language-info-flag {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  border-radius: 100%;
  border: 1px solid lightgrey;
}
